.home h1{
    font-size: 60px;
}

.flashcards h1{
  font-size: 1.5em;  
}

.flashcards li{
  list-style-type: none;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;

}

.notes h1{
font-size: 1.5em;
}

.activities h1{
    font-size: 1.5em;
}



